// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
  font-family: Lobster; 
  text-align: center;
  background-color: #dc6900; }

h1 {  margin-top: -8px;
      font-size: 40px;
      color: #602320 ;
      padding-bottom: 50px;
      border-bottom: dotted 5px #e0301e}

h2 { color: #602320;
    font-size: 30px; } 

img { border: dotted  4px #e0301e; 
      border-radius: 20px;
      width: 200px ;
      height: 200px ; }

  h3 { color: #602320; }
 

a:link  { 
      text-decoration: none;

     }

p {font-size: 25px;}

.top { background-image: url("http://www.glennrandall.com/images/aspen_panorama_master_900.jpg") }

