 

 body { background-image: url("http://www.hardwoodbytim.com/sitebuilder/images/floor_background-950x397.jpg"); 
        text-align: center; 
        font-family: 'Lobster', cursive;
       
        }


img { width: 300px; 
      height: 300px;
      border: 5px dotted  #e0301e;  }

h1 { color: #F8F8F8;}

h2 { color: #a32020; }


p { color: #F8F8F8; }


.btn { 
        background-color:  #eb8c00; 
        position:relative;
        top: -6px;
        border:0;
        transition: all 40ms linear;
        margin-top:10px;
        margin-bottom:10px;
        margin-left:2px;
        margin-right:2px;}

.forms { display: inline-block; }

.delete { color: #e0301e;
          font-size: 35px;}


.navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #a32020;

    }
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
        color: white;
    }

.top { margin-top: 60px; } 

.navbar { background-color: #a32020;

          }

a.link { color: white;}






