<div><h1>All Our Craft Syrups </h1> </div>

<p> Syrup of the day <a href="/singleproduct"> here</a></h3>

<% @ap.each do |product| %>

<h2> <img src="<%= product.image %>"></h2>
<h2><%= product.name %></h2>
<h2><%= product.description %></h2>
<h2>$<%= product.price %></h2>

<% end %>

