

<div><h1>Craft Syrup of the Day </h1> </div>


<p> View all our Syrups <a href="/allproducts"> here</a></p>



<h2> <img src="<%= @sp.image %>"></h2>
<h2><%= @sp.name %></h2>
<h2><%= @sp.description %></h2>
<h2>$<%= @sp.price%></h2>